.venv
.vscode
add_db_data.py
templates/testing.html
/data/postgres-db
/data/init_db
/data/budget_database.db
temp.txt
*__pycache__
script/config.py
.pytest_cache
tests/response_data.txt
/instance
/htmlcov
.coverage
*.egg-info/
/temp
/kubernetes/0_postgres-secret.yaml
/kubernetes/1_app-secret.yaml