@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* --------- BASIC STYLES --------- */

body {
    background-color: #16302B;
    color: #16302B;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a {
    color: #F53D00;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: bold;
    position: relative; 
    color: #16302B;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 21px;
    margin-top: 25px;
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

li {
    margin-bottom: 10px;  
}

hr {
    color: #16302B;
    border: 1px solid #16302B;
}

.wrapper {
    min-height: calc(100vh - 100px);
    position: relative;
}

/* --------- HEADER AND NAVBAR STYLES --------- */

.header {
    position: sticky;
    display:inline-flex;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    min-width: fit-content;
    z-index: 99;
    border-bottom: 5px solid #F2B202;
}

.website-logotype {
    background-color: #F2B202;
    width: 25%;
    max-height: 70px;
    position: relative;
    padding: 5px 20px;
    display: inline-flex;
}

.website-name {
    text-align: center;
    margin: auto 20px;
    width: calc(100% - 120px);
}

.website-navbar {
    background-color: #16302B;
    position: relative;
    width: 75%;
    height: 70px;
}

.header-triangle {
    background-color: #F2B202;
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.navbar {
    background-color: #16302B;
    height: 70px;
    position: relative;
    margin-left: 70px;
    padding-left: 20px;
    padding-right: 20px;
    /* overflow: auto; */
}

.navbar-btn-form, .navbar-btn-form-login {
    height: 100%;
}

.navbar-btn-form {
    float: left;
}

 .navbar-btn-form-login {
    float: right;
 }

.navbar-btn, .navbar-btn-login {
    background-color: #16302B; 
    color:#FFFFFF;
    font-weight: bold;
    border: none;
    height: 100%;
    padding: 0px 20px;
}

.navbar-btn:hover {
    background-color: #F2B202;
    color:#16302B;
    cursor: pointer;
}

.navbar-btn-login:hover {
    background-color: #F53D00;
    color: #16302B;
    cursor: pointer;
}

.navbar-btn:active {
    background-color: #F2B202;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
    height: 70px;
    float: left;
}

.navbar-dropbtn {
    background-color: #16302B; 
    color:#FFFFFF;
    font-weight: bold;
    border: none;
    height: 100%;
    padding: 0px 20px;
    cursor: pointer;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #16302B;
    min-width: 100%;
    z-index: 100;
}

.navbar-dropdown-content a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content a:hover {
    background-color: #F53D00;
}

.navbar-dropdown:hover .navbar-dropbtn {
    background-color: #F2B202;
}


.navbar-dropdown-login {
    position: relative;
    display: inline-block;
    height: 70px;
    float: right;
}

.navbar-dropbtn-login {
    background-color: #16302B;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    height: 100%;
    padding: 0px 20px;
}

.navbar-dropdown-content-login {
    display: none;
    position: absolute;
    background-color: #16302B;
    min-width: 100%;
    z-index: 100;
}

.navbar-dropdown-content-login a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-dropdown-login:hover .navbar-dropdown-content-login {
    display: block;
}

.navbar-dropdown-content-login a:hover {
    background-color: #F2B202;
}

.navbar-dropdown-login:hover .navbar-dropbtn-login {
    background-color: #F53D00;
}

/* --------- BASIC CONTENT STYLES --------- */

.content {
    background-color: #FFFFFF;
    color: #16302B;
    padding: 30px;    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    box-sizing: inherit;
    border-radius: 25px;
    min-height: 390px;
}

.flashes {
    color: red;
}

.go_back_form {
    height: 20px;
    color: #16302B;
}

.go_back_btn {
    background-color: #F2B202;
    height: 20px;
    color: #16302B;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
}
.go_back_btn:hover {
    background-color: #F53D00;
}

/* --------- FOOTER STYLES --------- */

.footer {
    background-color: #F2B202;
    color: #16302B;
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer-content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    
}

/* --------- REGISTER AND LOGIN STYLES --------- */

.register_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    flex-direction: column;
}

.register_form_table {
    color: #16302B;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.register_form_table table {
    border-spacing: 10px;
    border-collapse: separate;
}

.register_form_table tr {
}

.register_form_table td {
    text-align: end;
}

.register_form_table tr.register_errors td {
    color: red;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    max-width: 140px;
}

.register_form input[type=submit]{
    padding: 10px;
    background-color: #F2B202;
    color: #16302B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.register_form input[type=submit]:hover {
    background-color: #f2b2028c;
}

.register_form input[type=text] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
}

.register_form input[type=text]:hover {
    background-color: #F2B202;
}

.register_form input[type=password] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
}
.register_form input[type=password]:hover {
    background-color: #F2B202;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #16302B inset !important;
}



.login_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    flex-direction: column;
}

.login_form_table {
    color: #16302B;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.login_form_table table {
    border-spacing: 10px;
    border-collapse: separate;
}

.login_form_table tr {}

.login_form_table td {
    text-align: end;
}

.login_form_table tr.login_errors td {
    color: red;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    max-width: 140px;
}

.login_form_table input[type=submit] {
    padding: 10px;
    background-color: #F2B202;
    color: #16302B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.login_form_table input[type=submit]:hover {
    background-color: #f2b2028c;
}

.login_form_table input[type=text] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
}

.login_form_table input[type=text]:hover {
    background-color: #F2B202;
}

.login_form_table input[type=password] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
}

.login_form_table input[type=password]:hover {
    background-color: #F2B202;
}

.login_form_table input[type=checkbox] {
    visibility: hidden;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    overflow: hidden;
}

.login_checkbox span {
    height: 20px;
    width: 20px;
    border: 2px solid #16302B;
    display: inline-block;
    position: relative;
    background-color:#16302B;
    color: #CCC;
}

[type=checkbox]:checked + span::before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 3px;
    background-color: #16302B;
    color: #CCC;
}

[type=checkbox]:hover + span {
    background-color: #F2B202;
    border: 2px solid #F2B202;
}

[type=checkbox]:hover+span::before {
    background-color: #F2B202;
}

[type=checkbox]:hover+span::after {
    background-color: #F2B202;
    border: 2px solid #F2B202;
}

/* --------- ADD BUDGET STYLES --------- */

.add_budget_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    flex-direction: column;
}

.add_budget_form_table {
    color: #16302B;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.add_budget_form_table table {
    border-spacing: 10px;
    border-collapse: separate;
}

.add_budget_form_table tr {
}

.add_budget_form_table td {
    text-align: end;
}

.add_budget_form_table tr.add_budget_errors td {
    color: red;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    max-width: 140px;
}

.add_budget_form input[type=submit]{
    padding: 10px;
    background-color: #F2B202;
    color: #16302B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add_budget_form input[type=submit]:hover {
    background-color: #f2b2028c;
}

.add_budget_form input[type=text] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_budget_form input[type=text]:hover {
    background-color: #F2B202;
}

.add_budget_form #description {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    resize: none;
    width: 400px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_budget_form #description:hover {
    background-color: #F2B202;
}

/* --------- ADD CATEGORY STYLES --------- */

.add_category_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    flex-direction: column;
}

.add_category_form_table {
    color: #16302B;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.add_category_form_table table {
    border-spacing: 10px;
    border-collapse: separate;
}

.add_category_form_table tr {}

.add_category_form_table td {
    text-align: end;
}

.add_category_form_table tr.add_category_errors td {
    color: red;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    max-width: 140px;
}

.add_category_form input[type=submit] {
    padding: 10px;
    background-color: #F2B202;
    color: #16302B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add_category_form input[type=submit]:hover {
    background-color: #f2b2028c;
}

.add_category_form input[type=text] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_category_form input[type=text]:hover {
    background-color: #F2B202;
}

.add_category_form #description {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    resize: none;
    width: 400px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_category_form #description:hover {
    background-color: #F2B202;
}

.add_category_form input[type=color] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    padding: 10px;
    resize: none;
    width: 400px;
    height: 50px;
}

/* --------- ADD EXPENSE STYLES --------- */

.add_expense_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    flex-direction: column;
}

.add_expense_form_table {
    color: #16302B;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

.add_expense_form_table table {
    border-spacing: 10px;
    border-collapse: separate;
}

.add_expense_form_table tr {}

.add_expense_form_table td {
    text-align: end;
}

.add_expense_form_table tr.add_expense_errors td {
    color: red;
    text-align: center;
    word-wrap: break-word;
    font-size: 12px;
    max-width: 140px;
}

.add_expense_form input[type=submit] {
    padding: 10px;
    background-color: #F2B202;
    color: #16302B;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add_expense_form input[type=submit]:hover {
    background-color: #f2b2028c;
}

.add_expense_form input[type=text] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_expense_form input[type=text]:hover {
    background-color: #F2B202;
}

.add_expense_form #description {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    resize: none;
    width: 400px;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add_expense_form #description:hover {
    background-color: #F2B202;
}

.add_expense_form select {
    padding: 10px;
    background-color: #16302B;
    color: #FFFFFF;
    width: 400px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add_expense_form select option:hover {
    background-color: #F2B202 !important;;
}

.add_expense_form input[type=number] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* -moz-appearance: textfield; */
}

.add_expense_form input[type=number]:hover {
    background-color: #F2B202;
}
/*
.add_expense_form input::-webkit-outer-spin-button,
.add_expense_form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.add_expense_form input[type=date] {
    border: none;
    background-color: #16302B;
    font-size: 18px;
    color: #FFFFFF;
    padding: 4px 10px;
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

.add_expense_form input[type=date]:hover {
    background-color: #F2B202;
}

.add_expense_form input[type=date]:focus {
    background-color: #F2B202;
}


/* --------- BUDGET OVERVIEW STYLES --------- */

.budget-content-wrapper {
    width: 100%;
    margin-top: 10px;
    display: block;
}

.budget-summary {
    display: table;
    width: 100%;
}

.budget-header {
    min-height: auto;
    width: 100%;
    display: table;
    
}

.budget-name {
    width: auto;
    display: table-cell;
    vertical-align: middle;
}

.budget-menu {
    width: auto;
    height: 40px;
    position: relative;
    display: table-cell;
}

.budget-menu-form {
    height: 100%;
    margin: 0px 4px;
    float: right;
}

.budget-menu-btn {
    background-color: #F2B202;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.budget-menu-btn:hover {
    background-color: #F53D00;
}


.budget-balance-summary, .budget-expenses-summary, .budget-income-summary {
    display: table-cell;
    width: 33%;
    text-align: center;
    padding-top: 10px;
}

.budget-expenses-summary {
    border-left: 2px solid #16302B;
    border-right: 2px solid #16302B;
}

 /* Style the tab */
 .tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
 }

 /* Style the buttons that are used to open the tab content */
 .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
 }

 /* Change background color of buttons on hover */
 .tab button:hover {
    background-color: #f2b2028c;
 }

 /* Create an active/current tablink class */
 .tab button.active {
    background-color: #F2B202;
 }

 /* Style the tab content */
 .tabcontent {
    display: grid;
    width: 100%;
    padding-top: 12px;
    animation: fadeEffect 1s;
 }

 /* Go from zero to full opacity */
 @keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.budget-summary-table {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.budget-summary-table table {
    min-width: 80%;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

.budget-summary-table tr,
.budget-summary-table td {
    border: none;
}

.budget-summary-table tr.first-row td {
    background: #FF5016
}

.budget-summary-table tr:hover {
    background-color: #F2B202;
}

.budget-summary-table tr:hover td {
    background-color: #F2B202;
}

.budget-summary-table tr:nth-child(even) {
    background: #FFF;
}

.budget-summary-table tr:nth-child(odd) {
    background: #CCC;
}

/* --------- BUDGET EXPENSES PAGE STYLES --------- */

.add_expense {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.add_expense_form {
    height: 100%;
    margin: 0px 4px;
}

.add_expense_btn {
    background-color: #F2B202;
    border: none;
    height: 100%;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.add_expense_btn:hover {
    background-color: #F53D00;
}


.budget-expenses-table-wrapper {
    width: 100%;
    margin: 20px 0px;
}

.expenses-table {
    min-width: 100%;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

.expenses-table table {
    min-width: 80%;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

#expenses-table tbody tr {
    display: none;
}

.expenses-table tr,
.expenses-table td {
    border: none;
    cursor: default;
}

.expenses-table tr.first-row td {
    background: #FF5016
}

.expenses-table tr:hover {
    background-color: #F2B202;
}

.expenses-table tr:hover td {
    background-color: #F2B202;
}

.expenses-table tr:nth-child(even) {
    background: #FFF;
}

.expenses-table tr:nth-child(odd) {
    background: #CCC;
}

.remove_expense_btn {
    background-color: #16302B;
    color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.expenses-table tr.first-row:hover {
    background-color: #FF5016;
}

.expenses-table tr.first-row:hover td {
    background-color: #FF5016;
}

.remove_expense_btn:hover {
    background-color: #FF5016;
}

.table-nav {
    text-align: center;
    display: flex;
    justify-content: center;
}

.table-page-butt {
    background-color: #16302B;
    border: none;
    color: #CCC;
    min-width: 20px;
    margin: 0px 2px;
    padding: 2px;
}

.table-page-butt:active, .table-page-butt:hover, .table-page-butt.target {
    background-color: #F53D00;
    color: #CCC;
    width: 20px;
    margin: 0px 2px;
}