{% extends "base.html" %}
{% block content %}
<div>
    <div class="go_back_form"><a class="go_back_a" href="{{ url_for('expenses', budget_id=budget_id) }}">< Wstecz</a></div>
</div>
<div class="add_expense_wrapper">
    <div class="add_expense_form_table">
        <form action="" method="post" class="add_expense_form">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name() }}</td>
                </tr>
                {% for error in form.name.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.description.label }}</td>
                    <td>{{ form.description() }}</td>
                </tr>
                {% for error in form.description.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.category.label }}</td>
                    <td>{{ form.category() }}</td>
                </tr>
                {% for error in form.category.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.amount.label }}</td>
                    <td>{{ form.amount(step='0.01') }}</td>
                </tr>
                {% for error in form.category.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.date.label }}</td>
                    <td>{{ form.date() }}</td>
                </tr>
                {% for error in form.date.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.payer.label }}</td>
                    <td>{{ form.payer() }}</td>
                </tr>
                {% for error in form.payer.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ form.used_by.label }}</td>
                    <td>{{ form.used_by() }}</td>
                </tr>
                {% for error in form.used_by.errors %}
                <tr class="add_expense_errors">
                    <td></td>
                    <td>{{ error }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="text-align: center;">{{ form.submit() }}</td>
                </tr>
            </table>
        </form>
    </div>
</div>
{%endblock%}