<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Domowy Budżet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
            <div class="header">
                <div class="website-logotype">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_60x60.png') }}"></a>
                    <div class="website-name"><a href="{{ url_for('index') }}"><h1>DOMOWY BUDŻET</h1></a></div>
                </div>
                <div class="website-navbar">
                    <div class="header-triangle"></div>
                    <div class="navbar">
                        <form class="navbar-btn-form"><button class="navbar-btn" type="submit" formaction="{{ url_for('index') }}">Strona Główna</button></form>
                        {% if current_user.is_authenticated %}
                        <div class="navbar-dropdown">
                            <form class="navbar-dropbtn" style="padding: 0;"><button class="navbar-dropbtn" type="submit" formaction="{{ url_for('my_budgets') }}">Moje budżety</button></form>
                            <div class="navbar-dropdown-content">
                                {% for budget in g.allowed_budgets %}
                                <a href="{{ url_for('budget', budget_id=budget.id) }}">{{ budget.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if current_user.is_anonymous %}
                        <form class="navbar-btn-form-login"><button class="navbar-btn-login" type="submit" formaction="{{ url_for('register') }}">Zarejestruj</button></form>
                        <form class="navbar-btn-form-login"><button class="navbar-btn-login" type="submit" formaction="{{ url_for('login') }}">Zaloguj</button></form>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <div class="navbar-dropdown-login">
                            <button class="navbar-dropbtn-login" type="submit" formaction="">&#128100 {{ current_user.username }}</button>
                            <div class="navbar-dropdown-content-login">
                                <a href="">Moje konto</a>
                                <a href="{{ url_for('logout') }}">Wyloguj</a>
                            </div>
                        </div>
                        <!--
                        <form class="navbar-btn-form-login"><button class="navbar-btn-login" type="submit" formaction="">Moje konto</button></form>
                        <form class="navbar-btn-form-login"><button class="navbar-btn-login" type="submit" formaction="{{ url_for('logout') }}">Wyloguj</button></form>
                         -->
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div style="display:inline">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_60x60.png') }}" style="width:30px; height: 30px; vertical-align: middle;"></a> @Footer
                </div>
            </div>
        </div>
    </body>
</html>