{% extends "base.html" %}
{% block content %}
<div class="budget-content-wrapper">
    <div class="budget-header">
        <div class="budget-name">
            <h1>{{ budget.name }}</h1>
        </div>
        <div class="budget-menu">
            <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="{{ url_for('expenses', budget_id=budget_id, budget=budget ) }}">Wydatki</button></form>
            <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="{{ url_for('budget', budget_id=budget_id, budget=budget ) }}">Podsumowanie</button></form>
        </div>
    </div>
    <hr/>
    <div class="add_expense">
        <form class="add_expense_form"><button class="add_expense_btn" type="submit" formaction="{{ url_for('add_expense', budget_id=budget_id, budget=budget ) }}">Dodaj wpis</button></form>
        <form class="add_expense_form"><button class="add_expense_btn" type="submit" formaction="{{ url_for('add_category', budget_id=budget_id, budget=budget ) }}">Dodaj kategorię</button></form>
    </div>
    <hr style="margin-bottom: 0;" />
    <div class="budget-expenses-table-wrapper">
        <table class="expenses-table">
            <tr class="first-row">
                <td style="width:5%;"><b>LP:</b></td>
                <td style="width:10%;"><b>Data:</b></td>
                <td style="width:10%; text-align:right; padding-right: 40px;"><b>Kwota:</b></td>
                <td style="width:25%;"><b>Nazwa:</b></td>
                <td style="width:15%;"><b>Kategoria:</b></td>
                <td style="width:15%;"><b>Kto wydał:</b></td>
                <td style="width:15%;"><b>Kto używa:</b></td>
                <td style="width:5%;"></td>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{{ expense["date"] }}</td>
                <td style="text-align:right; padding-right: 40px;"><b>{{ '%.2f' %expense["amount"] }} zł</b></td>
                <td title="{{ expense['description'] }}">{{ expense["name"] }}</td>
                <td title="{{ expense['category_description'] }}">{{ expense["category_name"] }}</td>
                <td>{{ expense["payer_name"] }}</td>
                <td>{{ expense["used_by"] }}</td>
                <td style="padding-right: 10px;">
                    <form><button class="remove_expense_btn" type="submit" formaction="{{ url_for('remove_expense', budget_id=budget_id, expense_id=expense['id'] ) }}"><b>X</b></button></form>
                    <form><button class="remove_expense_btn" type="submit" formaction="{{ url_for('edit_expense', budget_id=budget_id, expense_id=expense['id'] ) }}"><b>✎</b></button></form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr />
</div>
{% endblock %}