{% extends "base.html" %}
{% block content %}
<div class="budget-content-wrapper">
    <div class="budget-header">
        <div class="budget-name">
            <h1>{{ budget.name }}</h1>
        </div>
        <div class="budget-menu">
            <div class="budget-menu-form"><a class="budget-menu-a" href="{{ url_for('budget_settings', budget_id=budget.id) }}">&#128736 Ustawienia</a></div>
            <div class="budget-menu-form"><a class="budget-menu-a" href="{{ url_for('expenses', budget_id=budget.id, ) }}">&#128197 Wydatki</a></div>
            <div class="budget-menu-form"><a class="budget-menu-a" href="{{ url_for('budget', budget_id=budget.id) }}">&#128202 Podsumowanie</a></div>
        </div>
    </div>
    <hr/>
    <div class="add_expense">
        <div class="add_expense_form"><a class="add_expense_a" href="{{ url_for('add_category', budget_id=budget_id) }}">Dodaj kategorię</a></div>
    </div>
    <hr style="margin-bottom: 0;" />
    <h3>Kategorie</h3>
    <div class="budget-expenses-table-wrapper">
        <table class="expenses-table">
            <tr class="first-row">
                <td style="width:5%;"><b>Kolor:</b></td>
                <td style="width:15%;"><b>Nazwa:</b></td>
                <td style="width:50%;"><b>Opis:</b></td>
                <td style="width:25%;"></td>
            </tr>
            {% for category in categories %}
            <tr>
                <td id="settings_category_color"><div style="background: {{ category.color }}; min-height:20px; min-width:20px; margin:2px"></div></td>
                <td id="settings_category_name">{{ category.name }}</td>
                <td id="settings_category_description">{{ category.description }}</td>
                <td id="settings_category_edit-remove-buttons" style="padding-right: 10px;">
                    <form action="{{ url_for('remove_category', budget_id=budget_id, category_id=category.id) }}" onsubmit="return confirm('UWAGA! Wraz z usunięciem katetorii, usunięte zostaną wszystkie wpisy, do których przypisana została ta kategoria!\nCzy na pewno chcesz usunąć tę kategorię?\n{{ category.name }}')"><button title="Usuń kategorię" class="remove_expense_btn" type="submit"><b>X</b></button></form>
                    <form><button title="Edytuj kategorię" class="remove_expense_btn" type="submit" formaction="{{ url_for('edit_category', budget_id=budget_id, category_id=category.id ) }}"><b>&#9998</b></button></form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{%endblock%}