{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/chart.js"></script>

<div class="budget-content-wrapper">
    <div class="budget-header">
        <div class="budget-name">
            <h1>{{ budget.name }}</h1>
        </div>
        <div class="budget-menu">
            <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="">&#128736 Ustawienia</button></form>
            <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="{{ url_for('expenses', budget_id=budget_id, budget=budget ) }}">&#128197 Wydatki</button></form>
            <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="{{ url_for('budget', budget_id=budget_id, budget=budget ) }}">&#128202 Podsumowanie</button></form>
        </div>
    </div>
    <hr style="margin-bottom: 0;">
    <div class="tab">
        <button class="tablinks" onclick="switch_period(event, 'current_month')" id="defaultOpen">Bieżący miesiąc</button>
        <button class="tablinks" onclick="switch_period(event, 'current_year')">Bieżący rok</button>
        <button class="tablinks" onclick="switch_period(event, 'one_year_period')">Okres 1 roku</button>
    </div>
    <div id="current_month" class="tabcontent">
        <h3>Bieżący miesiąc</h3>
        <hr>
        <div class="budget-summary">
            <div class="budget-balance-summary">
                <b>Balans</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>1000zł</td>
                        </tr>
                        <tr>
                            <td>Przychody:</td>
                            <td>2000zł</td>
                        </tr>
                        <tr>
                            <td>Wydatki:</td>
                            <td>{{ expenses_summary['this_month']['total'] }} zł</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="budget-expenses-summary">
                <b>Wydatki</b>
                <div class="budget-summary-table">
                    <table class="budget table">
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>{{ expenses_summary['this_month']['total'] }} zł</td>
                        </tr>
                        {% for key, value in expenses_summary['this_month']['categories_summary'].items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}} zł</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="budget-income-summary">
                <b>Przychody</b>
                <div class="budget-summary-table">
                    <table class="budget table">
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>2000zł</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="chart-container" style="position: relative; height:600px; width:100%; margin: auto;">
            <canvas id="chart_current_month"></canvas>
            <script>
                buildChart("chart_current_month", {{ expenses_summary['this_month']['categories_labels'] | safe}}, {{ expenses_summary['this_month']['categories_dataset'] | safe }}, {{ expenses_summary['this_month']['categories_colors'] | safe }})
            </script>
        </div>
    </div>
    
    <div id="current_year" class="tabcontent">
        <h3>Bieżący rok</h3>
        <hr>
        <div class="budget-summary">
            <div class="budget-balance-summary">
                <b>Balans</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>10000zł</td>
                        </tr>
                        <tr>
                            <td>Przychody:</td>
                            <td>20000zł</td>
                        </tr>
                        <tr>
                            <td>Wydatki:</td>
                            <td>{{ expenses_summary['this_year']['total'] }} zł</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="budget-expenses-summary">
                <b>Wydatki</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>{{ expenses_summary['this_year']['total'] }} zł</td>
                        </tr>
                        {% for key, value in expenses_summary['this_year']['categories_summary'].items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}} zł</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="budget-income-summary">
                <b>Przychody</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>20000zł</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="chart-container" style="position: relative; height:600px; width:100%; margin: auto;">
            <canvas id="chart_current_year"></canvas>
            <script>
                buildChart("chart_current_year", {{ expenses_summary['this_year']['categories_labels'] | safe }}, {{ expenses_summary['this_year']['categories_dataset'] | safe }}, {{ expenses_summary['this_year']['categories_colors'] | safe }})
            </script>
        </div>
    </div>
    
    <div id="one_year_period" class="tabcontent">
        <h3>Okres 1 roku</h3>
        <hr>
        <div class="budget-summary">
            <div class="budget-balance-summary">
                <b>Balans</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>12000zł</td>
                        </tr>
                        <tr>
                            <td>Przychody:</td>
                            <td>24000zł</td>
                        </tr>
                        <tr>
                            <td>Wydatki:</td>
                            <td>{{ expenses_summary['one_year_period']['total'] }} zł</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="budget-expenses-summary">
                <b>Wydatki</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>{{ expenses_summary['one_year_period']['total'] }} zł</td>
                        </tr>
                        {% for key, value in expenses_summary['one_year_period']['categories_summary'].items() %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{value}} zł</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="budget-income-summary">
                <b>Przychody</b>
                <div class="budget-summary-table">
                    <table>
                        <tr class="first-row">
                            <td><b>SUMA:</b></td>
                            <td>24000zł</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="chart-container" style="position: relative; height:600px; width:100%; margin: auto;">
            <canvas id="chart_one_year_period"></canvas>
            <script>
                buildChart("chart_one_year_period", {{ expenses_summary['one_year_period']['categories_labels'] | safe }}, {{ expenses_summary['one_year_period']['categories_dataset'] | safe }}, {{ expenses_summary['one_year_period']['categories_colors'] | safe }})
            </script>
        </div>
    </div>

    <script src="../static/js/tabs.js"></script>
</div>
{% endblock %}