{% extends "base.html" %}
{% block content %}
<div class="budget-header">
    <div class="budget-name">
        <h1>Moje budżety</h1>
    </div>
    <div class="budget-menu">
        <form class="budget-menu-form"><button class="budget-menu-btn" type="submit" formaction="{{ url_for('add_budget') }}">Dodaj budżet</button></form>
    </div>
</div>

<hr>
<ul>
{% for budget in budgets %}
    <li>
        <h3><a href="{{ url_for('budget', budget_id=budget.id) }}">{{ budget.name }}</a></h3>
    </li>
{% endfor %}
</ul>
{% endblock %}